.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.gridContainer {
    display: grid;
    grid-template-rows: 1; /* Two rows with automatic height */
    grid-template-columns: 1fr 1fr 1fr; /* Two columns with equal width */
    gap: 10px; /* Gap between grid items */
    padding: 20px;
    margin-bottom: 20px;
}

body {
    background-color: black;

}
